.search__input {
  box-sizing: border-box;

  height: 60px;
  width: 100%;

  padding: 0 25px;

  border-radius: 5px;
  border: none;

  font-family: "Overpass Mono", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-overflow: ellipsis;

  outline: 1px solid transparent;

  transition: outline .2s;
}

.search__input:not(.search__input_invalid):focus {
  outline: 1px solid #666;
}

.search__input::placeholder {
  color: #979797;

}

@media (max-width: 620px) {
  .search__input {
    height: 50px;
  }
}

@media (max-width: 475px) {
  .search__input {
    height: 35px;
    font-size: 12px;
  }
}