.search__input-error {
  color: #F90000ED;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  bottom: -23px;
  left: 25px;
  margin: 0;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: 
    visibility .2s cubic-bezier(0.165, 0.84, 0.44, 1),
    opacity .2s cubic-bezier(0.165, 0.84, 0.44, 1),
    transform .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@media (max-width: 740px) {
  .search__input-error {
    bottom: -19px;
  }
}

@media (max-width: 475px) {
  .search__input-error {
    font-size: 10px;
    left: 15px;
  }
}

@media (max-width: 410px) {
  .search__input-error {
    bottom: -13px;
    font-size: 9px;
    left: 8px;
  }
}

@media (max-width: 330px) {
  .search__input-error {
    bottom: -12px;
    font-size: 8px;
    left: 8px;
  }
}