.search__form {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 40px;
  margin-top: 10px;
  background: #32E85A;
  box-shadow: 10px -7px 0px 0px #000;
}

@media (max-width: 740px) {
  .search__form {
    border-radius: 0;
    padding: 30px 20px;
  }
}

@media (max-width: 425px) {
  .search__form {
    padding: 20px 15px;
    gap: 15px;
  }
}