.header__nav {
  display: flex;
  gap: 70px;
}

@media (max-width: 620px) {
  .header__nav {
    gap: 30px;
  }
}

@media (max-width: 425px) {
  .header__nav {
    padding: 0 20px;
    gap: 20px;
    align-items: center;
  }
}